@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/*import the fot familt from google fonts*/
*{
  /*all html elements*/
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
        font-family: 'Outfit', sans-serif;

}

body{
  background: #ffffff;
}

nav{
    width:100%;
    background:#333;
    color:#fff;
}
a{
  text-decoration: none;
  color: inherit  ;
  line-height: 1;
  cursor: pointer;
}


.container{
    padding-left: 10% ;
    padding-right: 10% ;
    
}

.btn{
    padding: 14px 25px;
    background: #fff;
    color: #333;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    border: 0;
    outline: 0;
}